@iconography-offset: 6px;
@iconography-size: 23px;

.red-bars {
    border-top: 1px solid @deepred;
    border-bottom: 1px solid @deepred;
}


#top-navigation {
  display: inline-block;
  margin: 0 auto 0 auto;
  background-color: #ffffff;
  width: 100%;
  max-width: @navbarCollapseWidth;

  li {
    float: left;
    width: 100% /6;
    list-style: none;
    a {
      float: none;
      // Vertically center the text given @navbarHeight
      padding: ((@navbarHeight - @baseLineHeight) / 2) 15px ((@navbarHeight - @baseLineHeight) / 2);
      color: @navbarLinkColor;
      text-decoration: none;
      text-shadow: 0 1px 0 @navbarBackgroundHighlight;
    }
    & > a > span.iconography {
      background-repeat: no-repeat;
      display:inline-block;
      margin: 10px 5px 0 5px;
      padding: 0 0 0 28px;
      width:100%;
      height:22px;
      text-align:left;

    }
    & > a.nav-home > span.iconography {
      background: url('/static/img/sprite.png') 0px 0px;
    }
    & > a.nav-store > span.iconography {
      background: url('/static/img/sprite.png') 0px -@iconography-size;
    }
    & > a.nav-about > span.iconography {
      background: url('/static/img/sprite.png') 0px -@iconography-size*2;
    }
    & > a.nav-contact > span.iconography {
      background: url('/static/img/sprite.png') 0px -@iconography-size*3;
    }
    & > a.nav-search > span.iconography {
      background: url('/static/img/sprite.png') 0px -@iconography-size*4;
    }
    & > a.nav-basket > span.iconography {
      background: url('/static/img/sprite.png') 0px -@iconography-size*5;
    }
    & > a{
      
    }
  }
}

.promotion_single {
  height: 236px;
  margin-bottom: 20px;
  background-size:cover;
  background-position:center center;

  a.find-out-more {
    color:#ffffff;
    background-color: #ae911c;
    font-weight:bold;
    display: inline-block;
    height: 12px;
    padding:6px 70px 14px 10px;
    position:relative;
    top: 193px;
    left:10px;

    .arrow{
        display: block;
        position: absolute;
        right:3px;
        top: 5px;
        width: 23px;
        height: 23px;
        background: url('/static/img/sprite.png') 0px -@iconography-size*6;
    }
  }
}
//EB Garamound and open sans - google web fonts
.hero-image {
  height:350px;
  background-image:url('/static/img/hero.jpg');
  background-size:cover;
  background-position:center center;
  margin-bottom: 20px;
  overflow:auto;

  .hero-callout{
    height:310px;
    width: 30%;
    background-color: #ffffff;
    .opacity(80);
    margin:20px
  }
}