<div id="footer" class="page_inner">
    <div class="row-fluid">
        <ul id="footer-payments" class="inline">
            <li> <div class="imagery worldpay"></div></li>
            <li> <div class="imagery maestro"></div></li>
            <li> <div class="imagery mastercard"></div></li>
            <li> <div class="imagery visa"></div></li>
            <li> <div class="imagery visadebit"></div></li>
            <li> <div class="imagery jcb"></div></li>
        </ul>
    </div>
    <div class="row-fluid">
        <ul id="footer-links" class="inline pull-left">
            <li><a href="/">Terms &amp; Conditions</a></li>
            <li><a href="/">Privacy</a></li>
            <li><a href="/">Security</a></li>
            <li><a href="/">Site Map</a></li>
        </ul>

        <div id="copyright" class="pull-right">
            Copyright &copy;2015 Wonder in Wood
        </div>
    </div>
    
</div>
