<div class="page_inner">
	<div class="navbar primary navbar-static-top navbar-inverse">
	    <div class="container-fluid">
			<ul class="nav">
			    <li><a href="/" class="nav-home" ><span class="iconography"></span>Home</a></li>
			    <li><a href="{% url 'catalogue:index' %}" class="nav-store" ><span class="iconography"></span>Store</a></li>
			    <li><a href="/" class="nav-about" ><span class="iconography"></span>About Us</a></li>
			    <li><a href="/" class="nav-contact" ><span class="iconography"></span>Contact</a></li>
			    <li><a href="/" class="nav-search" ><span class="iconography"></span>Search</a></li>
			    <li><a href="{% url 'basket:summary' %}" class="nav-basket" ><span class="iconography"></span>My Basket</a></li>            
			</ul>
		</div>
	</div>
</div>