<div class="page_inner">
	<div class="navbar primary navbar-static-top navbar-inverse">
	    <div class="container-fluid text-center red-bars">
			<ul id="top-navigation">
			    <li><a href="/" class="nav-home" ><span class="iconography">Home</span></a></li>
			    <li><a href="{% url 'catalogue:index' %}" class="nav-store" ><span class="iconography">Store</span></a></li>
			    <li><a href="/" class="nav-about" ><span class="iconography">About Us</span></a></li>
			    <li><a href="/" class="nav-contact" ><span class="iconography">Contact</span></a></li>
			    <li><a href="/" class="nav-search" ><span class="iconography">Search</span></a></li>
			    <li><a href="{% url 'basket:summary' %}" class="nav-basket" ><span class="iconography">My Basket</span></a></li>            
			</ul>
		</div>
	</div>
</div>