{% extends "oscar/layout.html" %}

{% block content %}
    <div class="promotion_single span4">
        <div class="image_container">
        </div>
    </div>
    <div class="promotion_single span4">
        <div class="image_container">
        </div>
    </div>
    <div class="promotion_single span4">
        <div class="image_container">
        </div>
    </div>
    <div class="promotion_single span4">
        <div class="image_container">
        </div>
    </div>
    <div class="promotion_single span4">
        <div class="image_container">
        </div>
    </div>
    <div class="promotion_single span4">
        <div class="image_container">
        </div>
    </div>
    <div class="promotion_single span4">
        <div class="image_container">
        </div>
    </div>
    <div class="promotion_single span4">
        <div class="image_container">
        </div>
    </div>
{% endblock content %}
