{% load currency_filters %}
{% load basket_tags %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% with image=product.primary_image %}
    {% thumbnail image.original "690x236" upscale=True crop='center' as thumb %}
    <article class="promotion_single span4" style="background-image:url('{{ thumb.url }}')">
        <div class="overlay">
        {{ promotion.description|safe }}
        <a href="{{ product.get_absolute_url }}" class="find-out-more">FIND OUT MORE<span class="arrow"></span></a>
        </div>
    </article>
    {% endthumbnail %}
{% endwith %}